github = {
    username = "fitm-elite"
    token = "your-token"
}

server = {
    ssh_server = "127.0.0.1"
    ssh_port = 22
    ssh_username = "root"
    ssh_password = "root"
    ssh_private_key_path = "~/.ssh/id_ed25519"
}

rancher = {
    hostname           = "rancher.yourdomain.com"
    letsencrypt_email  = "your-email@example.com"
    bootstrap_password = "your-secure-password"
}
